.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-montserrat);
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  height: 80vh;
  gap: 1rem;
}

.heading {
  display: flex;

  font-size: 1.625rem;
  font-weight: 700;
  font-family: var(--font-montserrat);
  letter-spacing: -0.01562em;
  line-height: 1;
}

.postAJobButton {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  background: #709771;

  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.buyABundle {
  color: #7dd3fc;
  text-decoration: underline;
  font-weight: 700;
}

@media (min-width: 1024px) {
}
