/* @import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css'; */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CheckboxRoot {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px var(--black-a7);
    border: 2px solid black;
}

.CheckboxRoot:hover {
    background-color: lightgray;
}

.CheckboxRoot:focus {
    /* box-shadow: 0 0 0 2px black; */
}

.CheckboxIndicator {
    color: var(--violet-11);
}

.Label {
    color: black;
    padding-left: 15px;
    font-size: 15px;
    line-height: 1;
}