.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select {
  border: 2px solid grey;
  border-radius: 0.2rem;
  padding: 0.25rem;
  background-color: white;
}

.labelText {
  font-weight: 500;
}